[2014-03-25 02:27] colinloretz opened #1 "Spring Framework & Spring security"

[2014-03-25 02:27] colinloretz opened #2 "Reno tracks App: Android, Mapping"

[2014-03-25 02:27] colinloretz opened #3 "Intro to Go"

[2014-03-25 02:36] veronicacannon opened #4 "Please add veronicacannon"

[2014-03-25 02:37] arenowebdev opened #5 "Requesting access"
Kthxbye ;-)

[2014-03-25 04:53] #5 closed, assigned to nobody

[2014-03-25 04:54] #4 closed, assigned to nobody

[2014-03-25 16:09] arenowebdev opened #6 "Request JetBrains Sponsorship"
Just throwing this out there...

http://www.jetbrains.com/devnet/sponsorship/usergroups/

[2014-03-25 16:10] arenowebdev opened #7 "[topic suggestion] Deployments & Continuous Integration"
Deployments & Continuous Integration

[2014-03-29 04:29] kbussche opened #8 "MySQL Replication"
I've setup, messed up, recovered from and fixed replication on Mysql databases for 10+ years.  If anyone wants to be bored with this I'd be happy to present.

[2014-04-14 19:28] veronicacannon opened #9 "[topic suggestion] Rails Code Review"
The Reno Tahoe Women Who Code are working on a small Rails app.   I'd love to suggest that the Reno Developers review our code.  It would be very helpful for our programming learning and to see what a code review is like.   April meeting would be best.  Thanks!

[2014-04-16 19:07] colinloretz opened #10 "Meeting 4/28/14"
We need to come up with the topics/speakers for this month's meeting.

I've started creating a Wiki page for each meeting. We can post notes and links to topics for each meeting there and add any related code to the repo as necessary.

https://github.com/renodevelopers/meetups/wiki/Meeting-April-28,-2014

[2014-04-28 17:36] #9 closed, assigned to nobody

[2014-04-29 06:56] jimbrowne opened #11 "Docker intro"
A few people expressed an interest in having an intro to Docker.  I could put together a presentation.

[2014-04-29 06:58] jimbrowne opened #12 "Dev-Ops topics"
Happy to present on any/all of the following:
- Chef/Puppet/Ansible/Salt #17
- Various AWS services #18
- Orchestration tools [e.g. RunDeck] #19
- ELK stack (Elasticsearch/Logstash/Kibana) #20
- Graphite/Grafana #21

[2014-04-29 17:34] underparnv opened #13 "Name the Group / Register Domain / Setup Website"
In discussion with @elskwid last night, we decided that we need to have a few things happen:

- [x] Come up with a solid name for the group
- [x] Register a domain name for the group
- [ ] Create a website to sign up to perform lightning talks and/or regular 20 minute max talks. Basically a place to disseminate information to the group...

So...first things first...thoughts on a name?

[2014-04-29 18:04] #10 closed, assigned to nobody

[2014-04-29 18:04] #2 closed, assigned to scaryuncledevin

[2014-05-16 18:40] elskwid opened #14 "Meeting on the 19th"
New page created for the next meeting: https://github.com/renodevelopers/meetups/wiki/Meeting:-2014-05-19

Please share the link so people can sign up for the lightning talks and the code reviews.

[2014-05-19 22:45] #14 closed, assigned to nobody

[2014-05-19 22:48] elskwid opened #15 "Automated Deployment"
Pulling this one out of #7

[2014-05-19 22:48] elskwid opened #16 "Continuous Integration"
Pulling this out of #7

[2014-05-19 22:48] #7 closed, assigned to nobody

[2014-05-20 17:21] elskwid opened #17 "Chef/Puppet/Ansible/Salt (Compare/Contrast)"

[2014-05-20 17:22] elskwid opened #18 "Various AWS Services"

[2014-05-20 17:22] elskwid opened #19 "Orchestration tools [e.g. RunDeck]"

[2014-05-20 17:22] elskwid opened #20 "ELK stack (Elasticsearch/Logstash/Kibana)"

[2014-05-20 17:22] elskwid opened #21 "Graphite/Grafana"

[2014-05-20 17:23] #12 closed, assigned to nobody

[2014-05-21 00:47] christopherjbaker opened #22 "Authentication"
There was a recent conversation between Simon Bauman and I on Facebook regarding Authentication. It occurred to me that this might be a good idea for a talk, which I would be willing to do.

But I need to know a) would you be interested in hearing a talk on this, and b) authentication is huge, what would you want to hear about?

Possible ideas:
- Authentication vs Authorization vs Encription
- Fac

[2014-05-31 07:24] Haifisch opened #23 "Introduction to iOS tweak development"
Requires a jailbroken device or iOS simulator with MobileSubstrate injected.
My experience is with HASHBANG Productions - http://hbang.ws

[2014-06-20 02:32] christopherjbaker opened #24 "Design Patterns"
Last month we had decided to do a design pattern each week. I didn't see anything specifying which pattern would be this month, however. Did I miss that?

[2014-06-23 20:22] christopherjbaker opened #25 "Three.JS (WebGL)"
I've been playing with Three.JS at work a lot and could give a talk on that.

You can see some of the things I have created on my [github pages](http://hmudesign.github.io/threejs-libs/).

[2014-06-24 04:51] elskwid opened #26 "Adapter Pattern examples - Pick your language!"
We're doing the Adapter Pattern for July's meeting, see the milestone. Sign up to do an example in the language of your choice in the comments.

Languages:
- [x] Java - @ErikCH
- [x] PHP - @underparnv
- [x] JavaScript - @HMUDesign
- [x] Ruby - @duonoid
- [x] C#
- [x] Objective C
- [x] Clojure - @Seberius
- [ ] Other

[2014-06-24 04:54] #24 closed, assigned to nobody

[2014-06-24 06:19] staxmanade opened #27 "General meeting end time?"
How late do the meetings generally go?

Also, here https://github.com/renodevelopers/meetups/wiki/Meeting:-2014-06-24 the time from 18:30-17:00 seems off to me. Should that be 9pm?

[2014-06-24 14:08] #27 closed, assigned to nobody

[2014-06-25 01:35] staxmanade opened #28 "Check meeting dates in wiki"
So, looks like I missed this months meeting, the wiki says it was the 24th.

Creating this as an issue to
- see that the date is updated for historical purposes and hope future wiki dates are correct..

I'll try again next month.

Thanks @colinloretz for the quick chat about the collective.

[2014-06-25 01:41] #28 closed, assigned to nobody

[2014-07-02 18:22] ErikCH opened #29 "Azat Mardan Node.js/CofeeScript talk"
[Azat Mardan](http://azat.co/) works as a senior developer at [DocuSign](https://www.docusign.com/). He's also an entrepreneur, blogger, author of several [books](http://www.amazon.com/Azat-Mardan/e/B00GM6QNI4/ref=ntt_athr_dp_pel_1) on development, open source evangelist and speaker.  He is hosting a [Node.js programming event](http://nodeprogram.eventbrite.com/) in SF on July 26 -27. If you're in

[2014-07-14 22:29] elskwid opened #30 "Add members to the repo collaborators team"
I'd like to see people that regularly attend meetings added to the collaborators team.

[2014-07-21 06:30] christopherjbaker opened #31 "ØMQ"
I have been learning [ØMQ](http://zeromq.org/) lately and would be willing to give a talk on it if anybody is interested. Currently using it for multi-threaded, distributed nodejs applications.

ØMQ \zeromq:
- Connect your code in any language, on any platform.
- Carries messages across inproc, IPC, TCP, TPIC, multicast.
- Smart patterns like pub-sub, push-pull, and router-dealer.
- High-speed asy

[2014-07-22 17:21] #31 closed, assigned to nobody

[2014-07-28 22:17] mwiegant opened #32 "more descriptive readme"
Could we get a time and date when we will be meeting each month put into the readme for the group?

[2014-07-28 23:34] #32 closed, assigned to nobody

[2014-08-13 23:02] Seberius opened #34 "Google Closure"
I can do a short presentation on Google's Closure Compiler and Library.  I was thinking of a short intro on what it is and about getting started started with it, followed by a quick run through a "Closure style" javascript project and the "compiled" code that results from advanced compilation.  I would expect it to take ~10 minutes.

[2014-08-25 15:39] #29 closed, assigned to nobody

[2014-08-25 15:40] #11 closed, assigned to nobody

[2014-08-26 17:41] WeHateNick opened #35 "Yeoman Talk"
I can do a talk about Yeoman. I'd like to go over what it is and why you would want to use it. Then I'll go over a simple set up and go over its most useful features

[2014-08-26 17:47] elskwid opened #36 "Next design pattern for September meeting"
We did Adapter in August. What's next?

[2014-08-26 17:58] cyberhobo opened #37 "Can you help organize Hack4Reno 2014?"
Wish I had thought of this last night! The city is organizing Hack4Reno this year and Monica needs more hands and brains on deck.

If anyone can make the Code for America brigade meetup TONIGHT (Tue Aug 26) at the Reno Collective at 6pm it's on the agenda.

[2014-08-27 16:54] ErikCH opened #38 "Ember.js Talk"
I've been learning Ember.js for the last few months. I wouldn't mind making a short presentation for it.

[2014-08-28 16:34] elskwid opened #39 "Use Meetup.com"
We discussed using meetup.com at the August meeting.

[2014-09-09 04:49] Seberius opened #40 "Karma/Jasmine Lightning Talk"
I have started using Karma for code testing on a project and can give a short presentation.  I would like cover what it is, its features, an example code test, a preprocessor with Google Closure example, and integration with IntelliJ IDEA.  I would estimate it to take ~10 minutes.

[2014-09-16 23:25] colinloretz opened #41 "Announcements for 9/22 meeting"
- Reno AWS Meetup: http://www.meetup.com/AWS-Reno/
- Hack4Reno: http://hack4reno.challengepost.com/

[2014-09-22 21:52] #26 closed, assigned to nobody

[2014-09-22 21:53] #34 closed, assigned to nobody

[2014-09-23 00:28] #41 closed, assigned to nobody

[2014-09-23 00:32] #30 closed, assigned to elskwid

[2014-09-23 14:19] #39 closed, assigned to nobody

[2014-09-23 14:19] #35 closed, assigned to nobody

[2014-10-20 20:18] Seberius opened #42 "Meeting - 2014-10-27"
One week until the next meeting.  This issue is to confirm who will be giving talks at the next meeting and confirm the schedule.  Please be aware that Hack4Reno will be taking place the weekend just _before_ the meeting.
#### Meeting Presentations:

I have listed the topics where people suggested a topic they could cover and were asked to do /volunteered for October, along with a link to the issu

[2014-10-20 22:26] jme opened #43 "Functional Programming talk"
I would be happy to give a presentation on functional programming. Probably better to do this longer-form rather than lightning talk.

[2014-10-27 14:48] #37 closed, assigned to nobody

[2014-11-12 17:07] #42 closed, assigned to nobody

[2014-11-18 01:25] Seberius opened #46 "Meeting - 2014-11-24"
One week until the next meeting.  This issue is to confirm the presenters, topics and schedule for the meeting.
#### Meeting Presentations:

We have two talks along with the factory pattern examples currently planned.  Please confirm if you are listed below.
- [x] @jme - Functional Programming talk #43 - 45-60 min - **Confirmed**
- :no_entry_sign: @ErikCH - Ember.js Talk #38 - 30 min? - **Moved to

[2014-11-24 22:29] #36 closed, assigned to nobody

[2014-11-24 23:13] #25 closed, assigned to nobody

[2014-11-24 23:24] scaryuncledevin opened #47 "Reno Tracks Beta Ready"
Wanted to make a quick shoutout that the beta for Reno Tracks is now available. Below is the link for the Google+ Community for users to join so they can opt into the beta and then get the app: https://plus.google.com/communities/107894878271175633612

[2014-12-04 00:06] Seberius opened #48 "Factory Pattern - Dec/Jan Meetup"
The factory patter presentation was pushed back from November to the next meeting.  The examples from the Nov meeting issue #46 have been copied here.

#### Factory Pattern Examples:
The chosen pattern for this month is Factory.  Please let us know which language(s) you would like to make an example in, along with a link to the code if available.  It is fine if multiple people do the same language

[2014-12-04 00:07] #46 closed, assigned to nobody

[2014-12-22 20:07] #43 closed, assigned to nobody

[2014-12-22 20:09] Seberius opened #49 "Meeting - 2014-12-22"
My apologies for the late meeting issue, I had this meeting incorrectly marked for the 29th.
#### Meeting Presentations:

This meeting will probably be a small informal meeting.  The Ember.js presentation will probably take place next month.  Don had mentioned wanting to do a presentation on taking constructive criticism, aka code reviews, but I am not sure when he wants to do that at this meeting

[2014-12-24 02:32] #49 closed, assigned to nobody

[2015-01-19 20:32] Seberius opened #50 "Meeting - 2015-01-26"
One week until the next meeting!

#### Meeting Presentations:
We currently have two tentative presentations and the factory pattern examples planned.  We are likely going get to the patterns this month, so if you have an example you would like to share please let us know (with a link to the code if possible).

- [ ] @ErikCH - Ember.js Talk #38 - 30 min? - **Unconfirmed**
- [ ] @elskwid - How to us

[2015-01-21 03:44] elskwid commented on #47
@scaryuncledevin would be great to get an update about Reno Tracks at one of our next meetings. Thanks!

[2015-01-21 03:44] #47 closed

[2015-01-21 03:45] elskwid commented on #38
@ErikCH We discussed doing this for 30-60 minutes. Do you have a time and how about planning for this being the main talk in February? If you're okay with that then please give me a title for the talk and a little bio.

[2015-01-21 03:46] #13 closed

[2015-01-21 04:29] elskwid commented on #50
@Seberius Thank you for posting this! We need to get you over on meetup.com. Here's the most recent post: http://www.meetup.com/dev-reno/events/219383079/

Sign up if you haven't.

@ErikCH I asked in #38 if you'd be willing to be the main speaker in February, what do you think?

[2015-01-23 04:22] christopherjbaker opened #51 "nginx"

[2015-01-23 04:25] HMUDesign opened #52 "ECMAScript 6"
likely demoed (when possible) with iojs

[2015-01-23 17:27] ErikCH commented on #38
If we could push this talk out even further that would be better. Unfortunately I have class every Monday until the beginning of May so I won't be able to make any of the meetings until then.

I'm trying to finish up my degree and the only day this class is offered is on Mondays at exactly the time this meeting is at. Sorry about that, I couldn't get around it this semester.

[2015-02-11 22:27] #50 closed

[2015-02-11 22:29] #48 closed

[2015-02-11 22:30] elskwid opened #53 "Community of Practice Talk"
Veronica Cannon is going to give us a talk about the new CoP effort coming out of the local WWC chapter.

[2015-03-22 17:21] #53 closed

[2015-04-21 02:58] HMUDesign commented on #52
@elskwid I'm still available to do this. A request for this came up in conversation.

[2015-04-22 06:25] colinloretz opened #54 "Controlling robots with Javascript, Ruby or Go"
An overview of Cylon, Artoo and Gobot to control robots (or hardware in general)!

[2015-04-23 16:10] underparnv opened #55 "devreno.org"
Should I renew it, or let it go?

[2015-04-26 20:12] halfnibble opened #56 "Short Intro to Django"
I don't know if anyone would be interested, but I could prepare a short Django tutorial with little advance notice.

[2015-04-26 20:35] elskwid commented on #52
@hmudesign - Wanna do this tomorrow? How long will you need?

[2015-04-26 20:36] elskwid commented on #54
@colinloretz - I've asked @hmudesign how much time he needs for the ES6 talk. I'll get back to you soon.

[2015-04-26 20:37] HMUDesign commented on #52
I can do this tomorrow, yes. ES6 is huge, so I'm preparing a list of all the things and was gonna let it be audience led with the particular topics. In that, it can be as long or as short as you need. 30-45 minutes would probably be good, but I could shorten it to 10 minutes or talk to 3 hours if you needed =P

[2015-04-27 00:23] elskwid commented on #52
@HMUDesign you're on for tomorrow. 45 - 1hour is your block. Enjoy!!!

[2015-04-27 00:23] elskwid commented on #56
@halfnibble I would like this, we have a couple of talks in the works, what about something a little longer form and you do the June meeting?

[2015-04-27 00:24] elskwid commented on #54
@colinloretz May is all you! ROBOTZ

[2015-04-27 00:25] elskwid commented on #55
@underparnv we've really been using meetup.com, I wonder if we should just point our domain there? What do you think?

[2015-04-27 01:00] halfnibble commented on #56
Sure thing. When is the June meeting? I am going on vacation to LEGOland sometime in June.

[2015-05-07 23:18] colinloretz commented on #55
@underparnv did you renew this? We have another use for it in mind too. If we could create a slack.devreno.org subdomain :D

[2015-05-07 23:29] underparnv commented on #55
I have. Shoot me an email (dmosher@noip.com) with the target and I can set it up... Let me know what we want to point the root at also.

[2015-05-08 19:31] elskwid commented on #55
@underparnv you can point root here: http://www.meetup.com/dev-reno/

[2015-05-08 20:10] underparnv commented on #55
Done...will be live when the zone refreshes (about 5 minutes from now).

@colinloretz What is the target for slack.devreno.org?

[2015-05-19 19:05] colinloretz commented on #55
@underparnv https://devreno.herokuapp.com/

[2015-05-19 19:25] underparnv commented on #55
Please wait about 5 minutes or so for propagation and you should be all set!

[2015-05-19 19:53] underparnv commented on #55
Confirmed live. :+1:

[2015-05-19 19:53] #55 closed

[2015-05-19 20:26] colinloretz commented on #55
Woop! Thanks @underparnv

[2015-05-20 08:24] halfnibble commented on #56
BTW, I return from vacation on June 20th. So I can do the talk if there are people interested.

The title would be, "Rapid Web App Development w/ Python and Django."

[2015-05-21 02:15] gwmccull commented on #56
I think that sounds interesting.  It's outside our normal scope of JS talks but I don't think that should prevent us from talking about it.  I'm a little more interested in the Python portion than the Django but both would probably be good to learn about.
What do other people think?

     On Wednesday, May 20, 2015 1:24 AM, Josh <notifications@github.com> wrote:

 BTW, I return from vacation on Ju

[2015-05-21 03:02] halfnibble commented on #56
I'm also open in July if we are moving things back a month.

I thought about going over using Django's django-rest-framework in conjunction with a JS library like Backbone.js to make Single Page Apps, but I doubt I'd have enough time to get that far in one session.

[2015-06-08 20:59] ErikCH commented on #38
My Spring and Summer school classes are done so I'll have time again to do this talk, at least until August.

Let me know if you guys are still interested.

[2015-06-16 15:49] elskwid commented on #56
@halfnibble - we've had a schedule change - can you still take the talk this month?

[2015-06-16 15:50] elskwid commented on #54
@colinloretz - can we put you on the schedule for July?

[2015-06-16 15:50] #52 closed

[2015-06-16 16:01] halfnibble commented on #56
I can do it this month, or next month--whichever works best. Just let me know the month so I make time to prepare an awesome, concise presentation. :) 

[2015-06-16 16:34] phlipper opened #57 "Web Application Security Principles"
In this talk, we'll take a technology-agnostic look at some of the primary risks to web applications today.

Using the OWASP Top 10 list as a guide, we'll get a high-level overview of each of the following areas:

* Injection
* Broken Authentication and Session Management
* Cross-Site Scripting (XSS)
* Insecure Direct Object References
* Security Misconfiguration
* Sensitive Data Exposure
* Missin

[2015-06-16 17:03] elskwid commented on #57
@phlipper how would you like to do this in August (2015-08-24)?

[2015-06-16 17:30] phlipper commented on #57
@elskwid August (2015-08-24) works for me, thanks.

[2015-06-16 18:07] elskwid commented on #56
Alright @halfnibble - you're on for next Monday! Confirm and I'll draw up the meeting and other stuff. (Give me a brief description of what you're talking about.)

[2015-06-16 20:29] halfnibble commented on #56
"Rapid Web App Programming with Python and Django"Description: An uber brief introduction to the Python programming language, followed by a tutorial on creating database-driven web apps with Django‎.

[2015-06-16 20:37] elskwid commented on #56
:+1:

[2015-06-16 21:02] colinloretz commented on #54
Yea lets do it in July.

[2015-06-16 21:45] elskwid commented on #57
Confirmed. Will link to the meetup posting shortly.

[2015-06-17 19:08] elskwid commented on #57
http://www.meetup.com/dev-reno/events/223313920/

[2015-06-17 19:08] elskwid commented on #56
http://www.meetup.com/dev-reno/events/223313728/

[2015-06-17 19:08] elskwid commented on #54
http://www.meetup.com/dev-reno/events/223313810/

[2015-06-23 03:26] halfnibble commented on #56
Here is the slideshow for the presentation:
http://slides.com/halfnibble/django-intro

And here is the GitHub repo,
https://github.com/halfnibble/django-intro

[2015-07-28 23:29] staxmanade opened #58 "TypeScript Presentation"
Hey @elskwid,

At the last meet-up you requested some talk proposals...

I'd be open to giving a talk on `TypeScript`. Let me know if that would suite the group.

Anyone: feel free to ask any specific questions you'd like addressed in the talk in this issue and I'll try to address any questions.

[2015-07-29 04:46] elskwid commented on #58
Yay! Thanks for jumping in @staxmanade. You're on the schedule for September!

[2015-07-29 04:48] elskwid commented on #58
Give me a title and a brief description when you can and I'll add it to the wiki and meetup.com

[2015-08-20 14:51] elskwid commented on #58
@staxmanade I'd like to post the rough details for your talk. Care to give me a title and short description?

[2015-08-20 15:24] staxmanade commented on #58
Bahh - I typed it in, but apparently didn't commit the message...

### Title:
[code]

### Description:
[code]

[2015-08-25 22:30] elskwid commented on #57
Thanks for the great talk!!

[2015-08-25 22:30] #57 closed

[2015-09-08 16:16] staxmanade commented on #58
@elskwid what day is this month's meeting? is it the 21st?

[2015-09-09 05:17] elskwid commented on #58
@staxmanade it will be on the 28th. I'll post the meeting details tomorrow if that's okay with you?

[2015-09-09 05:23] staxmanade commented on #58
:+1:

[2015-09-10 22:08] elskwid commented on #58
Announced: http://www.meetup.com/dev-reno/events/225267537/ :trophy:

[2015-09-11 05:13] HMUDesign commented on #58
omg 18 days in advance?

[2015-09-11 17:22] elskwid commented on #58
I know, right?!?!

[2015-09-14 21:33] elskwid opened #59 "Intro to Smartwatch Programming"
Joe Chavez has suggested a talk on smartwatch programming. More details ...

[2015-09-14 21:44] gitizenme commented on #59
## Overview
In the presentation I'll do a brief review of the Smartwatch ecosystem and dive into the details of writing apps for the 3 main platforms: iOS, Pebble & Android Wear. This will be a 90% code focused session with a bit of opinion and prognostication.

## Agenda
* What is a smartwatch?
* The market and opportunity
* Platforms
* Apple WatchOS
  * Architecture
  * SDK
  * Building an app
*

[2015-09-17 20:47] phlipper opened #60 "A Tour of HTTP Security Headers"
HTTP security headers provide a way for websites to describe how they should behave when loaded by a client. Using security headers, a website can prevent a number of attacks by explicitly allowing expected behaviors.

In this talk, we'll take a look at:

* CSP - Content Security Policy
* HSTS - HTTP Strict Transport Security
* HPKP - HTTP Public Key Pinning

For each section, we will:

* Understa

[2015-09-18 03:22] elskwid commented on #59
Meetup [scheduled](http://www.meetup.com/dev-reno/events/225438498/) - will announce after the next meeting.

[2015-09-29 17:03] staxmanade opened #61 "Talk on Ionic Mobile apps"
Hey @elskwid,

My Shawn @ucswift  has some good experience at building [Ionic](http://ionicframework.com/) apps and I think could put together a pretty good talk.

Sign him :up:

We use Ionic Framework for [Resgrid](http://resgrid.com/)

[2015-10-01 18:13] staxmanade opened #62 "Topic - not yet defined with @scottstanfield"
Hey @elskwid,

@scottstanfield is an amazing presenter and would be interested in giving a talk in Q1 of next year. He lives in the bay area.

He's a big fan of VI and command line, but gives some great presentations.

Here's a couple podcasts he's been on:

https://www.dotnetrocks.com/default.aspx?showNum=893
http://www.dotnetrocks.com/default.aspx?ShowNum=510

[2015-10-10 17:44] #56 closed

[2015-10-10 17:48] halfnibble opened #63 "Django Rest Framework and Backbone.js"
I've been having tons of fun using the Django Rest Framework for Django in conjunction with Backbone.js for a client project, and would love to share what I've learned.

This presentation would spend about 30 minutes setting up a single model Django application and creating a RESTful API using the Django Rest Framework. Then another 30 minutes creating a web page and designing a simple Backbone.js

[2015-10-10 17:49] halfnibble commented on #3
I'm interesting in hearing more about Go.

[2015-10-11 02:44] BlakeCampbells opened #64 "Dynamic PDF generation with Charts (No CSS)"
Hey I've been working on dynamic pdfs for a little while.
I found a way to do it without CSS, Phantom and saving to the disk at all.

I'd love to present this.
I'm using Ruby on Rails, Prawn, Combine-PDF, and Gruff.

I'll upload an example sometime this week. I was hoping to present at the November Meetup.

[2015-10-16 02:42] elskwid commented on #64
Hi @BlakeCampbells - that sounds like fun! We've had some scheduling changes and have moved the October meetup to Nov 16th. If we're going to do a December meeting it will like be the 14th. Interested?

[2015-10-16 02:43] #58 closed

[2015-10-16 02:43] #54 closed

[2015-10-16 02:44] elskwid commented on #59
Moving to November! http://www.meetup.com/dev-reno/events/225438498/

[2015-10-16 04:11] BlakeCampbells commented on #64
I'm interested. That gives me plenty of prep time.

Thank you!

[2015-11-20 00:02] SympleKaos opened #65 "UI/UX principles as it pertains to Responsive Web Design"
I'd be interested in attending a topic that covers the basic principles of UI/UX design especially as they pertain to providing consistent user experience in Responsive Web Design.

Are there specific approaches, best practices, etc that help make a Website or Web application intuitively "feel" the same regardless of screen?

What recommended resources are out there for UI/UX theory?

[2015-11-20 01:21] WeHateNick commented on #65
I recommend checking out [Google's material design resources](https://www.google.com/design/spec/material-design/introduction.html)

[2015-11-20 05:48] SympleKaos commented on #65
Thank you, @WeHateNick. I remember looking at this document back when it was first launched (published?) and forgot about it.  I wasn't a programmer at the time so it fell of my radar.  Thank you for bringing it up!

[2015-11-20 17:49] drubarth commented on #65
There are also some projects for Bootstrap Material Design in case you're already familiar with Bootstrap.

https://www.google.com/?gws_rd=ssl#q=bootstrap+material+design

Darryl

----- Original Message -----

[2015-12-10 00:14] gitizenme commented on #6
I initiated the process, we should have the sponsorship soon.

[2015-12-10 00:24] BlakeCampbells commented on #64
Yes I'm still doing this, I just saw this now

[2015-12-10 00:25] BlakeCampbells commented on #64
https://github.com/BlakeCampbells/dynamic_pdfs

I have a repo I'm updating to show examples and usage.

[2015-12-10 16:18] elskwid commented on #64
Scheduled! http://www.meetup.com/dev-reno/events/227339572/

[2016-01-04 18:26] w1zeman1p opened #66 "How to get a job as a developer"
I've been to a "Hire ruby on rails developers" meetup in SF that was purely about introducing developers to companies/hiring managers. I think it would be cool and beneficial to the community to talk about the keys to getting a job as a developer.

I'm generally opposed to pushy cold email recruiters and that whole process, but Dave has been great and a faithful sponsor. One possible format could

[2016-01-21 18:58] #64 closed

[2016-01-21 19:09] Seberius opened #67 "ClojureScript/React overview"
I would be willing to do a presentation on front end ClojureScript frameworks and their usage of React as the "view".  It would cover the Om.Next graph-query-view and re-frame/reagent "data driven loop" implementations, along with a basic overview of React and its place in vanilla javascript.

[2016-01-21 19:11] elskwid opened #68 "A Call For Help"
It's a new year and I believe it's time for us to look at what `/dev/reno` is all about. I have some big ideas for what we can do this year but I need help!

Here's just a few of my ideas:
* Schedule talks months in advance (I know, weird right?!?!)
* Bring in people from out of town to share their stories with us
* Have a regularly scheduled code dojo event
* Do more with our monthly lunches
* Ge

[2016-01-21 19:32] underparnv commented on #68
:+1: Will be there and will lend a hand as I'm able.

[2016-01-27 22:58] w1zeman1p commented on #68
Some notes from the meeting:
/dev/reno - help me meeting notes

## More People
+ can we do more w/more?
+ stable attendance
+ expose something new
## Lunches
##Interest Groups
## Website
+ maybe Christopher
+ talk suggestions with voting
## Books / Papers
+ Jeremy started up the `#books` channel in slack, check it out!
## Host
## Talks
+ Full stack / keep it diverse
+ Generic / General
+ Patterns

[2016-01-27 22:58] #68 closed

[2016-01-27 22:59] w1zeman1p commented on #68
Thanks @elskwid for running this one! Opened a lot of eyes to the possibilities and areas that need help.

[2016-01-27 22:59] w1zeman1p commented on #63
@halfnibble you still down to talk about this?

[2016-01-27 23:04] w1zeman1p commented on #20
Looks like this was covered by Dev-Ops.

[2016-01-27 23:04] #20 closed

[2016-01-27 23:04] w1zeman1p commented on #22
@HMUDesign  did this talk go down?

[2016-01-27 23:05] w1zeman1p commented on #59
Awesome job, @gitizenme! :) Great talk about the differences between the platforms and tools available.

[2016-01-27 23:05] #59 closed

[2016-01-27 23:08] w1zeman1p commented on #3
This would be awesome! Pradeep from ClearPlan.io is going to give a talk on this. I'll nail down the dates.

[2016-01-27 23:09] w1zeman1p commented on #1
Looks like this went down April 2014. Any objection to closing?

[2016-01-27 23:12] w1zeman1p commented on #18
these must have been covered by the AWS / DEVOPS group. Objection to closing?

[2016-01-27 23:21] w1zeman1p commented on #67
:+1:

[2016-01-28 15:13] elskwid commented on #18
Works for me!

[2016-01-28 15:13] #18 closed

[2016-01-28 15:13] elskwid commented on #1
Done.

[2016-01-28 15:13] #1 closed

[2016-01-28 15:14] elskwid commented on #3
Excellent!!

[2016-01-28 15:25] w1zeman1p opened #69 "Pattern meeting - Decorator, Adapter, Singleton"
The first pattern meeting is in February. We'll discuss Decorator, Adapter and Singleton

Try to implement these patterns in your language of choice. make a pr to this repo with your code in the design-pattern/{pattern} directories and lets see if we can get some solid examples for reference

[2016-01-28 15:31] w1zeman1p commented on #22
This is good stuff to talk about even if it did happen in 2014, lets revisit in July.

[2016-01-28 15:34] w1zeman1p opened #70 "Pattern meeting - Observer, Builder, Composite"
Another pattern meeting, this time implement the above design patterns and put them in design-patterns/{pattern} then we'll talk about implementations and tradeoffs of these in June

[2016-01-28 15:36] w1zeman1p opened #71 "Pattern meeting - Mediator, Null Object, Facade"
Another pattern meeting, this time implement the above design patterns and put them in design-patterns/{pattern} then we'll talk about implementations and tradeoffs of these in September.

[2016-01-28 15:43] w1zeman1p commented on #69
Take a look at the adapter pattern for examples! Thanks, @staxmanade.

[2016-01-28 15:47] w1zeman1p opened #72 "Slackbots"
So many cool things you can do with slackbots. @colinloretz  volunteered for this one! :+1:

[2016-01-28 15:48] w1zeman1p commented on #62
How about May 2016? CLI, vim, or any awesome tools that make developers more efficient? bump @scottstanfield

[2016-01-28 15:54] w1zeman1p commented on #67
Awesome idea, is it okay to move this to Reno.js? Seems focused enough on js to make sense.

[2016-01-28 15:55] scottstanfield commented on #62
I think I can make May 23rd work. I'm fly-fishing in Casper, Wyoming May 18-22. I could just fly to Reno instead of home.

I would love to give a CLI productivity talk. I regularly use these tools:
[code]

I think a lot about how to best setup a clean, new machines with the fewest steps. It's the "what do I do with the first 10 minutes on a new machine".

And more importantly, "how do I never take

[2016-01-28 15:56] w1zeman1p commented on #40
Did this already happen?

[2016-01-28 15:57] w1zeman1p commented on #62
Awesome! You're in the books for May! Thanks, @scottstanfield.

[2016-01-28 16:01] scottstanfield commented on #62
Great! I'll need to double-check over the next few days that I can easily get from WO to Reno, but shouldn't be a problem.

I will tell you that this will be the first slide in my deck:
![the rosetta stone terminal](http://terminals.classiccmp.org/wiki/images/3/38/Lear_Siegler_ADM-3A-1.jpg)

[2016-01-28 16:03] w1zeman1p commented on #62
haha! Nice :) okay let me know if it will not work for you.

[2016-01-28 16:03] w1zeman1p commented on #51
Okay to move this to DevOps meetup?

[2016-01-28 16:04] w1zeman1p commented on #65
Okay to move this to Reno.js meetup? Seems more javascript css related?

[2016-01-28 16:04] w1zeman1p commented on #38
Did this ever happen? If not is it cool to move to Reno.js?

[2016-01-28 16:05] w1zeman1p commented on #16
Okay to move to DevOps?

[2016-01-28 16:05] w1zeman1p commented on #15
Okay to move this to DevOps?

[2016-01-28 16:06] w1zeman1p commented on #17
Breaking out and moving to DevOps.

[2016-01-28 16:06] #17 closed

[2016-01-28 16:08] w1zeman1p commented on #61
@ucswift. you down to talk about ionic framework at Reno.js in March?

[2016-01-28 16:09] ucswift commented on #61
Yea sure thing, just lemme know!

[2016-01-28 16:10] w1zeman1p opened #73 "Dependency Injection"
What is it? How does it work? Why do I care? Examples of implementation of DI framework.

[2016-01-28 16:10] w1zeman1p commented on #73
This could be a mini talk, 30-40 min.

[2016-01-28 16:12] w1zeman1p commented on #61
Sweet! its March 8, 2016 @renocollective 6-8pm :) I'll put you down. Can you shoot me a quick bio for the site? (cjavilla@gmail.com)

[2016-01-28 16:14] w1zeman1p opened #74 "Testing / TDD"
This topic suggestion is being moved into /dev/reno from Reno.js as it's more general in nature and crosses language and technology barriers.

The target date for this is August. Any volunteers? Could do two 40 min talks each in different languages. maybe rspec / capybara in ruby and some other testing framework :)

[2016-01-28 16:16] w1zeman1p opened #75 "Message Queues (RabbitMQ, ActiveMQ, ZeroMQ)"
What is a Message Queue? Why would I use one? Show me some code examples of using a message queue in real life.

Any volunteers?

[2016-01-28 16:17] w1zeman1p commented on #69
Suggestions for the format? Someone said no walkthroughs in the help meeting.

[2016-01-28 16:22] underparnv commented on #15
I've been working a bit with Gitlab and Gitlab CI. Could do a presentation on it as it relates to PHP deployments if it would be interesting to anyone...

[2016-01-28 16:31] w1zeman1p commented on #15
@underparnv  that sounds awesome. wonder if we could do a 30 min on Gitlab CI and then one from someone who's used one of the other CI's like Bamboo or Travis or something to compare and contrast. @colinloretz is interested in having a CI talk at the DevOps meetup. The one scheduled for December, but would likely move this up if you're interested.

[2016-01-28 17:16] JeremyBuchmann commented on #75
I'm planning on using RabbitMQ on an upcoming project, so I should be able to do an "Intro to Message Queues" at some point in the future.

[2016-01-28 17:17] w1zeman1p commented on #75
Awesome! This one is slated for November. Think you could have something ready for then? (I'll ping you as the date nears)

[2016-01-28 17:20] scaryuncledevin commented on #75
If you need a backup or a second I have been working with Amazon SQS recently and can have something ready for November (plenty of time between now and then)

[2016-01-28 17:21] w1zeman1p commented on #75
Perfect! It would be cool to have a few different options in the mix

[2016-01-28 17:22] elskwid commented on #38
@w1zeman1p if you want move it, move it! Additionally, tell me when would be good for the talk and I can give it as well.

[2016-01-28 17:22] w1zeman1p commented on #75
Lets have @JeremyBuchmann do an Intro to Queues and RabbitMQ talk (40 min)
and then @scaryuncledevin do a follow up "here's how I use Amazon SQS" (40 min)

[2016-01-28 17:22] JeremyBuchmann commented on #75
I think November would be plenty of time for me, but having a backup or co-presenter would be awesome.

[2016-01-28 17:23] w1zeman1p commented on #75
:+1:

[2016-01-28 17:24] w1zeman1p commented on #38
How about April 12?

[2016-01-28 17:44] jimbrowne commented on #15
If I'm available I'm happy to talk about Bamboo.

[2016-01-28 17:46] jimbrowne commented on #75
If you need a backup backup I can talk about Amazon SQS (and SNS) if available that month.

[2016-01-28 19:41] ucswift commented on #61
Awesome, will shoot you an email here shortly.

[2016-01-28 20:07] Seberius commented on #67
Sure, though I have never been to the meeting.  I thought I would change the focus from ClojureScript (CLJS) to React after talking to a few people about Om at the last meeting and the general interest in React itself.  The talk would cover:
- An intro to [React](https://github.com/facebook/react/), its role as the view and why it won (maybe) the front-end wars.
- React + [Flux](https://facebook.g

[2016-01-28 20:13] Seberius commented on #40
No, this one never occurred.  It might make a good back up topic.

[2016-01-28 21:05] w1zeman1p commented on #67
Fantastic! Super stoked to hear about these things. How about May 10?

[2016-01-28 21:49] Seberius commented on #67
That works.

[2016-02-01 13:10] Chalekian commented on #69
I could give a brief talk on the Hillside Group Patterns Community.

Started in the 90's, the very best minds for creating/discussing patterns originate here.  Check out their member list and you'll find the most foundation voices--including Helm, Johnson (think "Gang of Four"), Booch, Fowler and more.

You can also browse Hillside's in-depth patterns catalogs.

In short, there is a proven way to

[2016-02-01 20:45] w1zeman1p commented on #69
Might be nice to have a history of design patterns. Still working out the format for this. Any volunteers to talk about:

* [ ] Adapter
* [ ] Singleton
* [ ] Decorator

@staxmanade looks like you added all the adapter stuff.

The _lightning_ talks will be 25-30 min. Each will answer at least these questions about each pattern.

+ What problem is this pattern good at solving?
+ What are some code s

[2016-02-01 20:53] w1zeman1p commented on #22
Any volunteers up for talking about Authentication?

[2016-02-01 23:39] halfnibble commented on #63
@w1zeman1p Sorry about the delay. I've been out of town. I am still interested in giving a talk on this.

Note: I will be relocating to Seattle in July, so if I give a presentation, it would have to be before then.

[2016-02-03 18:33] TopperKain commented on #75
I'd be happy to talk to Azure Queues, Topics, and Event Hubs as well.

[2016-02-03 18:38] TopperKain opened #76 "Creating a massive scale IoT project"
I just got engaged on a pretty massive IoT project. Phase 1 will wrap up in the May timeframe, so I can could present on (roughly) what we built, how it was built, and the tools used in the June timeframe.

[2016-02-03 18:52] TopperKain opened #77 "Host a meetup at UNR"
I know there is a desire to reach out to the broader community. One of the best ways to reach out the university community is the host a meeting there- remember how hard transportation was/how lazy you were in college.

We could do #66 How to get a job as developer there, or do a custom "welcome to the real world" panel.

[2016-02-03 19:08] w1zeman1p commented on #77
I like this idea. Anyone have contacts at UNR that we could reach out to about holding a meeting up there?

[2016-02-03 19:12] w1zeman1p commented on #76
Sounds awesome!

How about a 45 min talk on July 25? If that works for you shoot me an email with your bio: cjavilla@gmail.com

[2016-02-15 17:24] w1zeman1p commented on #69
@all, bump. Thinking the format could be: we split off and pair through implementing these in different languages and then come back together to discuss for the last 30-45 min.

[2016-02-15 18:42] Chalekian commented on #69
K...   ...there are ways to talk about Design Patterns.  I can review them quickly, prior to our groups splitting off.  I can then rotate between groups.  Remember, this is a creative process with a proven structure.

In short, a pattern has a:

     Context
     Problem
     Forces
     Solution
     Consequences

Consider the following written/illustrated by a "patterns guy" in Germany.

http://

[2016-02-15 18:44] w1zeman1p commented on #69
@Chalekian  sounds good! :) you're on

[2016-02-15 18:44] w1zeman1p commented on #69
@Chalekian could you shoot me a bio for the event? cjavilla@gmail.com

[2016-02-23 16:38] w1zeman1p commented on #69
Awesome job, @Chalekian :)

[2016-02-23 16:38] #69 closed

[2016-03-10 21:41] underparnv commented on #8
@kbussche You're a :horse:...  Now figure out when you're going to give this talk!

[2016-03-14 21:31] w1zeman1p commented on #61
Thanks @ucswift awesome talk and great feedback :)

[2016-03-14 21:31] #61 closed

[2016-05-01 15:23] w1zeman1p commented on #3
Solid introduction to Go from @spot  https://github.com/spotlmnop/goLangIntro

Here's a followup using what we learned https://izen.me/2016/04/30/golearn/

Thanks again to clearplan.io and Pradeep for taking care of this one!

[2016-05-01 15:23] #3 closed

[2016-05-01 15:24] w1zeman1p commented on #6
Looks like we have sponsorship! Thanks, @gitizenme. Time to close this one?

[2016-05-03 20:32] scottstanfield commented on #62
Guys: I'm afraid I can't make it for this date. I will need to reschedule for a future time. :(

[2016-05-13 15:41] w1zeman1p commented on #72
Thanks for the slackbot talk, @colinloretz!

[2016-05-13 15:41] #72 closed

[2016-05-13 15:42] w1zeman1p commented on #62
Would still love to have someone give this talk. Leaving open as a suggestion. We're replacing with codekata!

[2016-05-13 15:44] w1zeman1p commented on #67
Thanks, @Seberius for this great talk at Reno.js 👍

[2016-05-13 15:44] #67 closed

[2016-05-13 15:46] w1zeman1p opened #81 "Code Kata"
Lets do a code kata.

We can organically pair, organized pair, solo, three amigos style however folks want to do it. I'm happy to develop some exercises and constraints.

Also, opening up for suggestions for exercises here. (Think of problems that can be solved in about 15-30 min by average developer in their language of choice)

[2016-05-13 17:57] ErikCH commented on #38
I'm OK with making this talk in Reno.js. Once again I'm off for the summer so I can probably jump in and do a talk sometime this summer.

[2016-05-13 17:58] ErikCH commented on #38
@w1zeman1p Have you guys had an Ember talk yet?

[2016-05-13 18:00] w1zeman1p commented on #38
We have not. It would be awesome if you could jump in on that one for us!

We have an opening Tue Jul 12 6:00 PM. Let me know if that works for you, @ErikCH

[2016-05-13 18:28] Seberius opened #82 "GraphQL/Relay"
I can do an introductory talk to GraphQL/Relay.  I was thinking of integrating with Redis for the demo, but if anyone is interested in a specific database, let me know.

[2016-05-13 18:31] Seberius opened #83 "Neo4J/Graph Databases"
I am willing to do an introductory talk to Neo4J, a graph database.  The talk would cover the demo provided with database, an overview of some of the published use case studies, and a simple demo app.

[2016-05-13 18:37] ErikCH commented on #38
I can do that @w1zeman1p  July 12 :)

[2016-05-19 23:09] Seberius commented on #81
For an idea, build a simple Least Recently Used (LRU) cache.  Should take a max size at creation and provide `get`, `set`, and `evict` as methods.  Would touch on some concepts around extending classes, linked lists, and hashmaps.  Should take 20 - 30 minutes.  I have example code in JS and Ruby for reference.

[2016-06-04 23:59] w1zeman1p commented on #82
@Seberius Think you'd be ready to do this in August?

[2016-06-05 00:00] w1zeman1p commented on #83
@Seberius same question, think you'd be ready for this one in August? Which of these two topics (neo4j and graphql/relay) interest you more?

[2016-06-08 14:01] TopperKain commented on #76
Hi,
I need to reschedule my presentation to later, I'm now going to be out of town on July 25 for sure.

[2016-06-08 18:53] Seberius commented on #82
Sure. RenoJS?

[2016-06-08 18:54] w1zeman1p commented on #82
Yeah that's what I was thinking for this one. We could do the general graph db one for /dev/reno if you wanted? Which of the two do you prefer? Also, @Seberius it looks like /dev/reno July is opening up :)

[2016-06-08 18:56] Seberius commented on #83
I could do this in August as well.  I am trying to use both together for a project, so I can develop the presentations alongside one another, and Neo4J has a great visual/live coding tutorial I will probably use.

[2016-06-08 18:58] Seberius commented on #83
I just saw your message on July, I can commit to that.  Like I said, the Neo4J tutorial is great, so I can wing worst case scenario (I should have more ready though).

[2016-06-14 16:59] w1zeman1p commented on #81
Done and done!

[2016-06-14 16:59] #81 closed

[2016-06-15 00:03] w1zeman1p commented on #83
@Seberius will do this talk July 25 :)

[2016-06-15 00:06] w1zeman1p commented on #74
@staxmanade you interested in talking about JS testing? I wonder if we could get a panel of experts in testing frameworks from different languages.

[2016-06-15 00:06] w1zeman1p commented on #73
Would be dope to build a DI system live :)

[2016-06-15 00:07] w1zeman1p commented on #66
Any plus ones for this? I've noticed that most attendees are employed or over employed. Maybe we're all experts at getting jobs?

[2016-06-15 00:14] w1zeman1p commented on #62
We still do want to do a tools / CLI talk. I wonder if it makes sense to create a list of tasks to complete and have 3-4 people talk about /  show and tell what they use and how they would solve the problem?

What is the best format for showing off tools? We could probably have a completely separate talk on editor wars (vim would win obviously).

bash, vim, tmux, hot keys / shortcuts (how to jump

[2016-06-15 13:46] colinloretz commented on #62
All of the above!

Everyone has a dfferent workflow and it would be cool to have a few people show off theirs. Someone is bound to learn something and the presenter can also get questions about "what they did there", etc but might even learn a better way of doing things.

[2016-06-16 23:14] w1zeman1p opened #84 "Intro to Elixir + Phoenix"
Been playing with this lately and it's pretty fun would be interested in hearing someone more experienced talk about it.

[2016-06-17 04:28] staxmanade commented on #84
Yes

[2016-06-27 03:30] w1zeman1p commented on #62
Lets nail down a panel of speakers for this on August 22nd. I'm thinking 3 - 4 would be good. :)

[2016-07-26 01:16] ccothrun opened #85 "Videos of meeting presentations"
Earlier this year someone mentioned recording the presentations so I've tried recording the last few presentations. Here's some links:

[/dev/reno: Slack Bots with Colin Loretz @ Reno Collective - March 2016](https://www.youtube.com/watch?v=oqAjbDNWd3A)
[/dev/reno Go Language Presentation by Pradeep Mahdevu](https://www.youtube.com/watch?v=gXeWt3eIl_o)
[/dev/reno Observer Pattern with CJ Avilla &

[2016-08-22 19:45] #83 closed

[2016-08-22 19:45] #82 closed

[2016-08-22 22:26] elskwid commented on #62
Uh oh, we didn't get a panel. I suppose we're doing a roundtable tonight. 😄

[2016-09-01 15:31] scaryuncledevin commented on #75
I know we still have a few months until then but I'm no longer working with SQS. I can still give a quick overview on it if you like though.

[2016-09-07 18:19] JeremyBuchmann commented on #75
I'm currently using RabbitMQ, though not in a very "advanced" way (there are a lot of features). I'm not sure I could fill 40 minutes...maybe 20-30.

[2016-09-13 21:04] Seberius commented on #75
Hey, @JeremyBuchmann and @scaryuncledevin, how would you like to do a RabbitMQ and SQS talk on the same night at the dev/reno meetup?  Would both of you be good for Sep 26 or Oct 24?

[2016-09-13 21:33] Seberius commented on #85
Hey @ccothrun, I think it's great to record the talks (I missed the Pradeep's Go presentation). I would like to talk and see what is needed/wanted to make the process easier and/or better. Will you be at the tonight's RenoJS meetup or the dev/reno meetup later this month?

[2016-09-13 21:40] #38 closed

[2016-09-13 21:44] Seberius commented on #76
Hey @TopperKain, would you still like to do this talk?  I think it would be an interesting topic.

[2016-09-13 21:45] #63 closed

[2016-09-13 21:59] JeremyBuchmann commented on #75
@Seberius we have this one scheduled for November already...are you suggesting moving it up? I wouldn't be able to do September, but October would be possible if we need to move things around.

[2016-09-13 22:30] Seberius commented on #75
Oops, I missed that, lets leave it where it is.

[2016-09-13 22:31] JeremyBuchmann commented on #75
Ok, cool

[2016-09-23 18:22] Seberius opened #86 "Gulp.js"
Gulp is a task/build runner for development.

[2016-09-23 18:24] Seberius opened #87 "Webpack/Babel"
Webpack is a module bundler. Webpack takes modules with dependencies and generates static assets representing those modules.

[2016-09-23 18:26] Seberius opened #88 "Angular/Angular 2"
There was an interest in an Angular Talk for the RenoJS meetup, focusing on transitioning from Angular 1 to 2 and starting with 2.  Angular 2 makes use of Typescript and may pair well with the #89 topic.

[2016-09-23 18:30] Seberius opened #89 "Typescript"
Typescript is a superset of javascript with types.  It is used for Angular 2 development.  May pair well with the #88 topic.

[2016-09-23 18:33] Seberius opened #90 "Cypress"
Cypress is a test engine that runs unit and integration tests in your browser.
[Cypress Homepage](https://www.cypress.io/)

[2016-09-23 18:41] Seberius opened #91 "MeteorJS"
MeteorJS is a free and open-source JavaScript web framework written using Node.js for rapid prototyping and cross-platform code.

[2016-09-23 18:41] #19 closed

[2016-09-23 18:42] #16 closed

[2016-09-23 18:43] #21 closed

[2016-09-23 18:44] #23 closed

[2016-09-23 18:44] #6 closed

[2016-09-23 18:47] #70 closed

[2016-09-23 18:48] #71 closed

[2016-09-23 20:02] hekaldama opened #92 "Building HTTP APIs"
## Overview

Learn the basics about what is a HTTP API, an example when to use it, and build one together to talk to another API.
## Prerequisites

Knowledge of programming in any language. A computer / access to host with docker installed or a working `ruby` env. If you don't have these things, you will be able to pair up with others that do and learn alongside them.
## Learning Outcomes
- Learn

[2016-09-23 21:51] Seberius commented on #92
Hey Adam, thanks for taking this up on short notice.  Let me know if you need anything for Monday. Thanks!

[2016-09-23 22:22] hekaldama commented on #92
Sure thing. Some questions:
- How long do I have?
- Do people bring computers?
- Is it reasonable to have "Prerequisites"?
- Would you like to tag team where I do 30-40min / break for 10min / you do 30-40min talk?

[2016-09-24 02:18] Seberius commented on #92
- You usually have as much time as you want, the presentations usually runs 45 - 90 minutes.  People will usually have quite a few questions.
- Most have a computer.  We have a done a pair programming meetup before and it was well received.  I will get some details up on the Meetup page once I have access so people know what to expect.
- We have had meetings in the past with prerequisites.  We can

[2016-09-27 00:36] ccothrun commented on #85
Hey I was hoping to make it tonight but I'm not feeling well, don't want to spread contagion. I'd love to make the RenoJS meetups but Tuesday evenings are bad for me. I'll look to pick this up again at the next meeting.

[2016-09-27 01:03] Seberius commented on #85
Thanks, see you there.

[2016-09-27 14:45] hekaldama commented on #92
Thank you all for coming and if you want to see my pass at programming the craigslist API, I pushed it to:

https://github.com/hekaldama/building-http-apis/blob/my_cl/config.ru

Feel free to post your takes here in a gist / repo / inline and we can chat about them.

[2016-09-27 14:45] #92 closed, assigned to hekaldama

[2016-09-27 14:51] hekaldama commented on #66
@w1zeman1p this is an interesting idea and I like how you suggested it for #77 as well. I can be available to help in any way for this.

[2016-09-27 14:57] hekaldama commented on #62
I can talk / present / sit at round table for this.

[2016-09-28 21:05] scaryuncledevin commented on #86
So I said I would do this one, when would you like me to try to present?

[2016-10-11 00:38] Seberius commented on #86
@scaryuncledevin The dates currently open are Oct 11, Nov 8, Dec 13 and Jan 10.  I currently have a backup talk scheduled for Oct 11, so don't feel you need to take that one.  I would prefer to fill up the earlier meetings first, so let me know which you are available for.

[2016-10-11 01:52] scaryuncledevin commented on #86
Sounds good, let's plan for Nov 8, I've been working on my presentation but it's not complete.

[2016-10-11 01:53] Seberius commented on #86
Perfect

[2016-10-12 00:25] Seberius opened #93 "Ionic/Ionic 2"
A mobile SDK for building native mobile apps.

[2016-10-12 16:45] hekaldama commented on #76
+1

[2016-10-13 18:34] TopperKain commented on #76
Yes, sorry I didn't see this till now. Can you propose a time and I'll (properly) block it off?>

[2016-10-13 18:53] Seberius commented on #76
Hey @TopperKain , we have Dec 19 and Jan 23 open for talks, would either of those work for you?

[2016-10-13 18:58] TopperKain commented on #76
December 19th should be great! Very unlikely anyone will make me travel the week of Christmas :)

[2016-10-13 19:00] hekaldama commented on #76
Great! Excited. Thanks @TopperKain

[2016-10-13 19:08] Seberius commented on #76
You are set for Dec 19.  Looking forward to the talk.

[2016-10-13 19:13] Seberius commented on #66
I also think this might an interesting one to involve UNR with. I think this would be a good proposal to bring up at the next meeting (Oct 24), as not everyone that attends check up on the github page.

[2016-10-13 20:46] Seberius commented on #75
@scaryuncledevin I know you are doing the Gulp.js presentation at the RenoJS meetup the same month, are you still available to do a quick overview (20 - 30 minutes) of Amazon SQS?

[2016-10-20 01:47] scaryuncledevin commented on #75
I could give maybe a 10 to 20 minute overview of SQS. I was under the impression there were supposed to be a few people showing a few different queue systems, and I'm not even using it anymore so I'm a little rusty, and I'm still working on my gulp presentation.

[2016-10-20 17:06] JeremyBuchmann commented on #75
@scaryuncledevin and @Seberius I can give the first presentation which can include points such as "What is a queuing system", "Why would you need one", "What are some use cases" before I even get into the specifics of RabbitMQ. Then, @scaryuncledevin can go after me and cover the specifics of SQS so his can be fairly short.

[2016-10-24 05:58] Seberius commented on #75
Yea, a quick 10 minute overview focusing on what area SQS excels at/why you chose it would be great.  I think just being able to answer peoples questions on your experience with it would fill out the rest of the time, seeing as there always seems to be quite a bit of interest in AWS.

[2016-10-25 02:55] scaryuncledevin commented on #75
This sounds like a good plan, I'll work on it.

[2016-11-09 20:24] Seberius commented on #86
Thank you for the great talk! Code examples from the talk: https://github.com/scaryuncledevin/gulp-example

[2016-11-09 20:24] #86 closed, assigned to scaryuncledevin

[2016-12-13 03:53] Seberius commented on #75
Thanks to both of you for the awesome presentation!

[2016-12-13 03:53] #75 closed

[2016-12-17 05:47] Seberius commented on #76
Hey @TopperKain , just a reminder for this Monday. I am looking forward to the talk! I will be at the Reno Collective by ~5:30. Let me know if you need anything setup ahead of time.

[2016-12-17 18:04] TopperKain commented on #76
I'll be there. I'm going to be all slides all the time.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Kaijah Hougham <notifications@github.com>
Sent: Friday, December 16, 2016 9:47:28 PM
To: renodevelopers/meetups
Cc: TopperKain; Mention
Subject: Re: [renodevelopers/meetups] Creating a massive scale IoT project (#76)

Hey @TopperKain<https://github.com/TopperK

[2016-12-17 18:16] TopperKain commented on #76
Hit send too soon, I meant to say it's going to all slides so no special set up other than the projector.

[2016-12-17 20:28] Seberius commented on #76
Roger that, see you there.

[2017-01-07 18:44] davbeck opened #94 "Swift"
Would anyone be interested in a talk on Swift? I was thinking I could go over some of the languages designs, quarks, and advantages, and then do a quick example of how to build an iOS app and web server with it.

[2017-01-14 05:00] Seberius opened #95 "Javascript's Async/Await"
Talk on javascript's new async and await features by @staxmanade

[2017-01-16 14:49] hekaldama commented on #95
Is this scheduled for Feb 14? If so, we may want to reschedule to not conflict with Valentine's Day.

[2017-01-24 02:25] Seberius opened #96 "Code Refactoring/Patterns"

[2017-01-24 02:28] Seberius opened #97 "Node.js IoT Project"

[2017-01-24 02:29] Seberius opened #98 "Hadoop"

[2017-01-24 02:30] Seberius opened #99 "Material Design"

[2017-01-24 02:31] Seberius opened #100 "Cassanadra (DB)"

[2017-01-24 02:31] Seberius opened #101 "Scaling SQL"

[2017-01-24 02:32] Seberius opened #102 "React Native"

[2017-01-24 02:32] Seberius opened #103 "Storing JSON in SQL"

[2017-01-24 02:33] Seberius opened #104 "Key Value storage in SQL"

[2017-01-24 02:34] Seberius opened #105 "Programming with speech recognition"

[2017-01-24 02:35] Seberius opened #106 "Preventing repetative strain injuries"

[2017-01-24 02:37] Seberius opened #107 "Category theory"

[2017-01-24 02:37] Seberius opened #108 "Game engines"

[2017-01-24 02:39] Seberius opened #109 "Best security practices for API access"

[2017-01-24 02:41] Seberius opened #110 "Ethereum"

[2017-01-24 02:45] Seberius opened #111 "Technical and cultural development of programming languages"

[2017-01-24 02:46] Seberius opened #112 "Low code development platforms"

[2017-01-24 02:48] Seberius opened #113 "Universal computation in physics (David Deutsch)"

[2017-01-24 02:49] Seberius opened #114 "CMS (WP, Joomla, etc)"

[2017-01-27 01:58] mboren commented on #105
I should be able to do this any month except February.

[2017-03-14 19:48] Seberius commented on #105
Hey @mboren , sorry for the delay in getting back to you. It should be an interesting topic!
We currently have openings for:
- March 27
- April 24
- May 22

Let me know if any of those dates work for you.

[2017-03-14 22:21] mboren commented on #105
No problem! I can do April 24 or May 22. April 24th would be my first choice.

[2017-03-14 22:26] Seberius commented on #105
I have you set for April. Thanks!

[2017-06-20 22:20] #51 closed

[2017-06-20 22:43] arenowebdev opened #115 "Update Collective Address on Meetup site"
Still shows Arlington address 😉

[2017-06-28 04:21] arenowebdev commented on #115
Someone did this... Thanks mystery person!

[2017-06-28 04:21] #115 closed, assigned to nobody

[2018-02-01 18:39] #22 closed